= javascript_include_tag 'message.js'

= render "layouts/side_bar"

/ mainview
.chat-main
  .chat-main__header
    %p.chat-main__header__group-name
      = @group.name
    = link_to 'Edit', '/groups/1/edit', class: "chat-main__header__edit-button"
    %p.chat-main__header__group-member
      Members:
      - @group.members.each do |member|
        = member.user.name
  .chat-main__content
    = render partial: 'message', collection: @messages
  .chat-main__footer
    .chat-main__footer__form
      = form_for [@group, @message] do |f|
        = f.text_field :comment, class: "chat-main__footer__form__message-form", placeholder: "type a message"
        = f.label :image, class: "chat-main__footer__form__label", for: "icon" do
          = fa_icon 'picture-o', class: "chat-main__footer__form__picture"
          = f.file_field :image, class: "chat-main__footer__form__label__file", id: "icon"
        = f.submit 'Send', class: "chat-main__footer__form__send-button"
